<h1 class="text-center my-4">Lista de Camperas</h1>

<table class="table text-center align-middle">
    <thead class="table-light">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compras</th>
        </tr>
    </thead>
    <tbody>
        @for (ropa of ropas; track ropa.name){
            <tr [ngClass]="{ 'clearance': ropa.clearance }">
                <td><img width="200" class="img-thumbnail img-indumentaria" [src]="ropa.image" [alt]="ropa.name"> </td>
                <td>{{ropa.name}}</td>
                <td>{{ropa.type}}</td>
                <td>{{ropa.price | currency }}</td>
                @if (ropa.stock == 0) {
                    <td><span class="badge bg-warning text-dark">SIN STOCK</span></td>
                } @else {
                     <td><span class="badge bg-success">DISPONIBLE</span></td> <!-- hago lo mismo de arriba y busco un span verde para disponible -->
                }
                <td>
                    <button class="btn btn-outline-secondary btn-sm rounded-circle me-1" (click)="downQuantity(ropa)">−</button>
                    <input 
                    type="text" 
                    class="form-control d-inline text-center mx-1 quantity-input"
                    [(ngModel)]="ropa.quantity"
                    (input)="changeQuantity($event, ropa)"> 
                    <!-- Use (input) en lugar de (keyup) porque keyup no capturaba algunos cambios como pegar texto o autocompletado -->
                    <button class="btn btn-outline-secondary btn-sm rounded-circle ms-1" (click)="upQuantity(ropa)">+</button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="4"> No hay ropas para mostrar </td>
            </tr>
        }
    </tbody>
</table>
