
tr.clearance td {
  background-color: #d4edda;
  border: none; /* opcional */
}

td{
  vertical-align: middle;
}

th{
  font-size: 18px;
  font-weight:500;
}


.img-indumentaria{
  height: 220px;
}


.table {
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.table thead {
  background-color: #e9ecef; 
}
