<nav class="navbar navbar-expand-lg text-white" style="background-color: #1b1f2b ;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/about']">Contacto</a>
        </li>
      </ul>

      <!-- Este ul separado con ms-auto empuja el login a la derecha -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-flex align-items-center">
          <img src="assets/img/user-icon.png" alt="User" width="24" height="24" class="me-1 rounded-circle" />
          <a class="nav-link text-white" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet> </router-outlet>
</div>


<footer class="bg-secondary text-white text-center py-3 mt-5">
  {{ title }} 2025
</footer>